---
layout: page
title: "About"
description: "Hey, this is Txing."
header-img: "img/about-bg.png"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <!-- <blockquote> -->
        <!-- 123 -->
    <!-- </blockquote> -->
    <p style="text-align:center;">
	
    <br><br>如果接受一切，
	<br><br>就不会受伤。
	<br><br>无论是与我不合的、
	<br><br>我讨厌的、
	<br><br>我无法认同的，
	<br><br>如果毫不抗拒地选择接受，
	<br><br>就不会受伤。
	<br><br>如果抗拒一切，
	<br><br>就只会受伤。
	<br><br>无论是与我合拍的、
	<br><br>我喜欢的、
	<br><br>我能够认同的，
	<br><br>如果毫不接受地选择拒绝，
	<br><br>就只会受伤。
	<br><br>两颗心是伽蓝洞，
	<br><br>唯有肯定与否定两个极端。
	<br><br>两者之间，空无一物。
	<br><br>两者之间，只有我。
	<br><br>/伽蓝之洞
	
    </p>
    <p style="text-align:center;">
        ——奈须蘑菇《空之境界》 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <!-- <blockquote> -->
        <!-- kono -->
    <!-- </blockquote> -->
    <p style="text-align:center;">
		 kono DIO Da！JoJo!
    </p>
    <p style="text-align:right;">
    -- Dio Brando
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
